<template>
    <div class='list-wrap'>
        <div class='row'>
            <div class="item-wrap col-4" v-for="(item, index) in datalist" v-if="(index > itemMin - 1 && index < itemMax)">
            <div class="item">
            <span class="date">{{ item.date }}</span>
            <div class="text-wrap">{{item.description}}</div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>

  export default {
    name: 'EventsList',
    props: {
      data: Array,
      count: Number,
      currentPage: Number,
    },
    computed: {
      datalist: function () {
        let list = this.data
        this.data.map(function (item, index) {

          if (typeof item.description === 'object') {
            let prop = Object.getOwnPropertyNames(item.description)
            list[index].description = list[index].description[prop[0]]
          }
        });
        return list
      },
      itemMin: function () {
        return (this.currentPage - 1) * this.count
      },
      itemMax: function () {
        return ((this.currentPage - 1) * this.count) + this.count
      }
    }
  }
</script>

<style lang="less">
    @import './style.less';
</style>
