.list-wrap {

  & .row {
    align-items: stretch;

    & .item-wrap {
      margin: 0 0 30px 0;
    }
    & .item {
      padding: 30px 20px;
      background: #ffffff;
      height: 100%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      margin: 0;
      text-align: left;
      word-break: break-word;
      box-sizing: border-box;
      position: relative;

      & .date {
        position: absolute;
        top: 5px;
        right: 0;
        background: #333333;
        padding: 3px 5px;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
      }
    }
  }
}