<template>

    <ul class="filter-list">
        <li :class="item.id === active ? 'active' : ''" v-for="item in list" :id="item.id">
            <a @click="$emit('set-filter', item)">{{item.min + ' - ' + item.max}}</a>
            <a class="remove-filter" @click="$emit('remove-filter', null)">+</a>
        </li>
    </ul>

</template>

<script>

  export default {
    name: 'SidebarList',
    props: {
      list: Array,
      active: Number,
    }
  }
</script>

<style lang="less">
    @import './style.less';
</style>
