<template>
    <div class='select-wrap col-2'>
        <div class="select" :class="isOpened ? 'opened' : '' ">
            <div class="placeholder-container" @click="toggleDropDown" ref="closeDropDown">
                {{selected}}
            </div>
            <div class="drop-down-container">
                <div @click="selection(item.id)" class="select-item" v-for="item in selectList" :id="item.id">
                    <span>{{item.name}}</span>
                </div>

            </div>
        </div>
    </div>

</template>

<script>

  export default {
    name: 'Select',
    props: {
      selectList: Array,
      selected: Number,
    },
    data() {
      return {
        isOpened: false,
      }
    },
    created(){
      document.addEventListener('click', this.closeDropDown)
    },
    destroyed () {
      document.removeEventListener('click', this.closeDropDown)
    },
    methods: {
      toggleDropDown: function () {
        this.isOpened = !this.isOpened
      },
      selection: function (id) {
        this.$emit('set-selected', id)
        this.isOpened = false
      },
      closeDropDown: function (e) {
        let el = this.$refs.closeDropDown;
        let target = e.target;
        if (el !== target && !el.contains(target))
        {
          this.isOpened = false
        }
      }
    }
  }
</script>

<style lang="less">
    @import './style.less';
</style>
