.select-wrap {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 90px;
}
.select-wrap .select {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #C4C4C4;
  background: #ffffff;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  width: 90px;
}
.select-wrap .select.opened {
  z-index: 5;
}
.select-wrap .select.opened .placeholder-container::before {
  transform: rotate(180deg);
}
.select-wrap .select .placeholder-container {
  display: block;
  position: relative;
  margin: 0;
  padding: 7px 30px 7px 20px;
  font-size: 14px;
  line-height: 24px;
  color: #646464;
  overflow: hidden;
}
.select-wrap .select .placeholder-container .select-item,
.select-wrap .select .placeholder-container .placeholder {
  overflow: hidden;
  height: 24px;
}
.select-wrap .select .placeholder-container span {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 5px 0 0;
}
.select-wrap .select .placeholder-container::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  transition: all linear 0.2s;
  background: url("../../img/arrow.svg") no-repeat center;
  background-size: contain;
}
.select-wrap .select .drop-down-container {
  position: absolute;
  display: none;
  bottom: 100%;
  left: -1px;
  right: -1px;
  margin: -1px 0 0 0;
  padding: 0;
  border: 1px solid #C4C4C4;
  background: #ffffff;
}
.select-wrap .select .drop-down-container .select-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 4px 20px;
  font-size: 14px;
  line-height: 24px;
  color: #646464;
  background: #ffffff;
  cursor: pointer;
}
.select-wrap .select .drop-down-container .select-item:hover {
  background: #F2F2F2;
}
.select-wrap .select .drop-down-container .select-item span {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 5px 0 0;
}
.select-wrap .select .drop-down-container .select-item span.fullName {
  font-weight: 600;
}
.select-wrap .select.opened .drop-down-container {
  display: block;
}
/*# sourceMappingURL=style.css.map */