.select-wrap {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 90px;

  & .select {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #C4C4C4;
    background: #ffffff;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    width: 90px;

    &.opened {
      z-index: 5;

      & .placeholder-container::before {
        transform: rotate(180deg);
      }
    }

    & .placeholder-container {
      display: block;
      position: relative;
      margin: 0;
      padding: 7px 30px 7px 20px;
      font-size: 14px;
      line-height: 24px;
      color: #646464;
      overflow: hidden;

      & .select-item, .placeholder {
        overflow: hidden;
        height: 24px;
      }

      & span {
        display: inline-block;
        vertical-align: baseline;
        margin: 0 5px 0 0;

      }

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 18px;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
        transition: all linear .2s;
        background: url("../../img/arrow.svg") no-repeat center;
        background-size: contain;
      }
    }

    & .drop-down-container {
      position: absolute;
      display: none;
      bottom: 100%;
      left: -1px;
      right: -1px;
      margin: -1px 0 0 0;
      padding: 0;
      border: 1px solid #C4C4C4;
      background: #ffffff;

      & .select-item {
        display: block;
        position: relative;
        margin: 0;
        padding: 4px 20px;
        font-size: 14px;
        line-height: 24px;
        color: #646464;
        background: #ffffff;
        cursor: pointer;

        &:hover {
          background: #F2F2F2;
        }

        & span {
          display: inline-block;
          vertical-align: baseline;
          margin: 0 5px 0 0;

          &.fullName {
            font-weight: 600;
          }
        }
      }
    }

    &.opened .drop-down-container {
      display: block;
    }
  }

}