<template>
    <div id="app" class="">
        <div ref="closeMobMenu" class='sidebar' :class="isMenuOpened" >
            <h2>Filter</h2>
            <h3>By Year</h3>
            <SidebarList @set-filter="setFilter" @remove-filter="removeFilter" :active="filter.active"
                         :list="filter.list"/>
        </div>
        <div class='content-wrapper'>
            <p class='main-content-title'>Historical App
                <a ref="menuLink" @click="toggleMobile" :class="isMenuOpened" class="menu-btn"></a></p>
            <div class='content-area'>

                <EventsList :data="data" :currentPage="currentPage" :count="selected"/>
                <div class='page-wrap row'>
                    <Select @set-selected="setSelected" :selected="selected" :selectList="selectList"/>
                    <Pager :current="currentPage" :total="total" @page-click="pageClick"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import EventsList from './components/EventsList/EventsList'
  import SidebarList from './components/SidebarList/SidebarList'
  import Select from './components/Select/Select'
  import Pager from './components/Pager/Pager'
  import data from './data/historical-events.json'
  import router from './router'

  const filterList = [
    {
      min: -1000,
      max: 0,
      id: 1,
    },
    {
      min: 0,
      max: 1000,
      id: 2,
    },
    {
      min: 1000,
      max: 2000,
      id: 3,
    },
    {
      min: 2000,
      max: 3000,
      id: 4,
    }
  ]

  const selectList = [
    {
      id: 12,
      name: 12,
    },
    {
      id: 24,
      name: 24,
    },
    {
      id: 48,
      name: 48,
    },
    {
      id: 96,
      name: 96,
    },
  ]

  export default {
    name: 'app',
    router,
    beforeMount() {
      this.setPageByHash()
    },
    watch: {
      '$route': function () {
        this.setPageByHash()
      }
    },
    data() {
      return {
        data: data.result.event,
        filter: {
          list: filterList,
          active: null,
        },
        selected: 12,
        selectList: selectList,
        currentPage: 1,
        isMenuOpened: 'closed',
      }
    },
    computed: {
      total: function () {
        return Math.ceil(this.data.length / this.selected)
      },
    },
    components: {
      EventsList,
      SidebarList,
      Select,
      Pager
    },
    created(){
      document.addEventListener('click', this.closeMobMenu)
    },
    destroyed () {
      document.removeEventListener('click', this.closeMobMenu)
    },
    methods: {
      setFilter: function (item) {
        const filtered = data.result.event.filter(event => (event.date.split('/'))[0] >= item.min && (event.date.split('/'))[0] <= item.max)
        this.filter.active = item.id
        this.data = filtered
        if (this.currentPage > this.total) this.currentPage = this.total
      },
      removeFilter: function (item) {
        this.filter.active = item
        this.data = data.result.event
      },
      setSelected: function (id) {
        this.selected = id
        if (this.currentPage > this.total) this.currentPage = this.total
      },
      pageClick: function (num) {
        router.push({name: 'App', params: {num: num}})
        this.currentPage = num
      },
      setPageByHash: function () {
        if (isNaN(this.$route.params.num) === false) {
          this.currentPage = this.$route.params.num < this.total ? Number(this.$route.params.num) : this.total
        }
      },
      toggleMobile: function () {
        this.isMenuOpened = this.isMenuOpened === 'opened' ? 'closed' : 'opened'
      },
      closeMobMenu: function (e) {
        let el = this.$refs.closeMobMenu;
        let elBtn = this.$refs.menuLink;
        let target = e.target;

          if (el !== target && elBtn !== target && !el.contains(target)){
            this.isMenuOpened = 'closed'
          }

      },
    }
  }
</script>

<style lang="less">
    @import './style.less';
</style>
