body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  background: #ffffff;

  #app {
    background: #fcfcfc;
    height: 100vh;
    display: flex;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;

      & .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 15px;
        box-sizing: border-box;
      }

      & .col-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
      }

      & .col-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
      }

      & .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }

      & .col-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }

      & .col-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
      }

      & .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      & .col-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
      }

      & .col-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
      }

      & .col-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }

      & .col-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
      }

      & .col-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
      }

      & .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    & .sidebar {
      width: 245px;
      background: #ffffff;
      height: 100vh;
      box-sizing: border-box;
      box-shadow: 4px 0 4px rgba(0, 0, 0, 0.05);
      padding: 90px 0 20px 0;
      position: relative;
      z-index: 6;

      & h2 {
        margin: 0 0 30px 15px;
      }

      & h3 {
        margin: 0 0 20px 30px;
      }

      & .filter-list {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
          display: block;
          margin: 0 0 10px 0;
          position: relative;
          padding: 0 30px 0 0;
          border-left: 2px solid #ffffff;
          transition: all linear 0.2s;

          & a {
            display: block;
            padding: 5px 20px 5px 30px;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            text-decoration: none;
            cursor: pointer;
            transition: all linear 0.2s;
            font-weight: 600;
          }

          & .remove-filter {
            position: absolute;
            font-size: 14px;
            line-height: 10px;
            color: #333333;
            right: 10px;
            top: 11px;
            transform: rotate(45deg);
            display: none;
            padding: 0;
            margin: 0;
          }

          &:hover {
            border-left-color: #828282;

            & a {
              color: #828282;
            }
          }

          &.active {
            border-left-color: #828282;

            & .remove-filter {
              display: block;
            }

            & a {
              color: #828282;
            }
          }
        }
      }

      &.catalog-menu-list {
        position: fixed;
        top: 110px;
        left: 0;
        bottom: 0;
        padding: 0;
        box-shadow: none;
      }
    }

    & .content-wrapper {
      flex: 1 1;
      position: relative;
      z-index: 5;
      padding: 65px 0 70px 0;
      box-sizing: border-box;

      & .main-content-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 25px;
        padding: 20px 20px 20px 40px;
        color: #ffffff;
        font-weight: 600;
        background: #333333;
        margin: 0;
      }
    ;

      & .content-area {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 25px 40px 5px 40px;
      }
    }

    & .page-wrap {
      align-items: center;
      position: fixed;
      left: 245px;
      bottom: 0;
      right: 0;
      padding: 15px 40px 15px 25px;
      margin: 0;
      background: #FCFCFC;
    }
  }
}

@media (max-width: 768px) {

  body {
    #app {

      & .sidebar {
        position: fixed;
        left: -245px;
        top: 0;
        bottom: 0;
        transition: all linear .2s;
        overflow-y: auto;

        &.opened {
          left: 0;
        }

        & .filter-list li:hover {
          border-left: 2px solid #ffffff;

          & a {
            color: #333333;
          }

        }

        & .filter-list li.active:hover {
          border-left: 2px solid #828282;

          & a {
            color: #828282;
          }

        }

      }

      & .content-wrapper {
        & .page-wrap {
          left: 0;
          padding-right: 25px;
        }

        & .main-content-title {
          padding-right: 70px;

          & .menu-btn {
            display: block;
            position: absolute;
            right: 40px;
            top: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            margin: auto;
            background: url("./img/menu.svg") no-repeat center;
            background-size: contain;

            &.opened {
              background: url("./img/cross.svg") no-repeat center;
              background-size: contain;
            }
          }
        }


      }

      & .list-wrap .item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }


}

@media (max-width: 530px) {

  body {
    #app {
      & .content-wrapper {

        & .remove-filter {
          font-size: 20px;
        }

        & .content-area {
          padding-left: 20px;
          padding-right: 20px;
        }

        & .main-content-title {
          padding-left: 20px;

          & .menu-btn {
            right: 20px;
          }
        }

        & .list-wrap .item-wrap {
          flex: 0 0 100%;
          max-width: 100%;
        }

        & .page-wrap {
          padding-left: 5px;
          padding-right: 5px;
        }

      }

    }
  }


}

@media (max-width: 425px) {

  body {
    #app {
      & .content-wrapper {
        padding-bottom: 105px;

        & .page-wrap {
          & .select-wrap {
            flex: none;
            display: block;
            max-width: 100%;
          }

          & .pager {
            flex: none;
            display: block;
            text-align: center;
            max-width: 100%;
            margin-top: 15px;
          }

        }
      }
    }
  }

}
