<template>
    <div class='pager col-10'>
        <a :id="1" @click="setPage" class="first" title="first" :aria-disabled="isFirst"></a>
        <a :id="current-1" @click="setPage" class="nav prev-page" title="prev" :aria-disabled="isFirst"></a>
        <div v-if="current === 1 || current === total" class='pages-inn'>
            <a :id="1" @click="setPage" :aria-disabled="isFirst" class="page">1</a>
            <span>...</span>
            <a :id="total" @click="setPage" :aria-disabled="isLast" class="page">{{total}}</a>
        </div>

        <div v-else-if="current > 1 && current < total/2" class='pages-inn'>
            <a :id="current-1" @click="setPage" class="page">{{current - 1}}</a>
            <a :id="current" aria-disabled="true" @click="setPage" class="page">{{current}}</a>
            <a :id="Number(current)+1" @click="setPage" class="page">{{Number(current) + 1}}</a>
            <span>...</span>
            <a :id="total" @click="setPage" class="page">{{total}}</a>
        </div>

        <div v-else-if="current < total && current >= total/2" class='pages-inn'>
            <a :id="1" @click="setPage" class="page">1</a>
            <span>...</span>
            <a :id="current-1" @click="setPage" class="page">{{current - 1}}</a>
            <a :id="current" aria-disabled="true" @click="setPage" class="page">{{current}}</a>
            <a :id="Number(current)+1" @click="setPage" class="page">{{Number(current) + 1}}</a>

        </div>
        <a :id="Number(current)+1" @click="setPage" class="nav next-page" title="next" :aria-disabled="isLast"></a>
        <a :id="total" @click="setPage" class="last" title="last" :aria-disabled="isLast"></a>
    </div>
</template>

<script>

  export default {
    name: 'Pager',
    props: {
      total: Number,
      current: Number,
    },
    computed: {
      isFirst: function () {
        return this.current === 1
      },
      isLast: function () {
        return this.current === this.total
      },
    },
    methods: {
      setPage: function (event) {
        if (event.target.id > 0 && event.target.id <= this.total) {
          this.$emit('page-click', Number(event.target.id))
        }

      },
    }
  }
</script>

<style lang="less">
    @import './style.less';
</style>
