& .pager {
  text-align: right;

  & .pages-inn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  & a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    margin: 0 10px;

    &[aria-disabled="true"] {
      opacity: 0.4;
      cursor: default;
    }
  }

  & .nav {
    width: 16px;
    height: 18px;
    margin: 0;
    transition: all linear 0.2s;
    background: url("../../img/arrow.svg") no-repeat center;
    background-size: contain;

    &.prev-page {
      transform: rotate(90deg);
    }

    &.next-page {
      transform: rotate(-90deg);
    }
  }

  & .first, .last {
    width: 15px;
    height: 20px;
    margin: 0 0 0 10px;
    transition: all linear 0.2s;
    background: url("../../img/dbl_arrow.svg") no-repeat center;
    background-size: contain;
  }

  & .first {
    transform: rotate(180deg);
    margin: 0 10px 0 0;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}