.pager {
  text-align: right;
}
.pager .pages-inn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.pager a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  margin: 0 10px;
}
.pager a[aria-disabled="true"] {
  opacity: 0.4;
  cursor: default;
}
.pager .nav {
  width: 16px;
  height: 18px;
  margin: 0;
  transition: all linear 0.2s;
  background: url("../../img/arrow.svg") no-repeat center;
  background-size: contain;
}
.pager .nav.prev-page {
  transform: rotate(90deg);
}
.pager .nav.next-page {
  transform: rotate(-90deg);
}
.pager .first,
.pager .last {
  width: 15px;
  height: 20px;
  margin: 0 0 0 10px;
  transition: all linear 0.2s;
  background: url("../../img/dbl_arrow.svg") no-repeat center;
  background-size: contain;
}
.pager .first {
  transform: rotate(180deg);
  margin: 0 10px 0 0;
}
.pager span {
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */